body{
    margin: 0;
    padding: 0;
}

.slide{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
}
img{
    display: none;
    width: 100%;
    height: 100vh;
}
img.displaySlide{
    display: block;
}
.slide button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}